*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
}
.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin:auto;
}

/* nav bar styling*/

.navbar{
    position:fixed;
    width:100%;
    padding: 30px 0;
    /* background: rgb(202, 6, 6); */
    transition: all 0.3s ease;
    z-index: 999;
}

.navbar.sticky{
    padding: 15px 0;
    background: crimson;
}

.navbar .NameHead{
    color:white;
    font-size: 35px;
    font-weight: 600;
}

.navbar .max-width{
    display : flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .menu li  {
    list-style: none;
    display: inline-block;
}

.navbar .menu li a {
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;

}

.navbar .menu li a:hover {
    color: crimson;

}

.navbar.sticky .menu li a:hover {
    color:maroon;
}

.menu-btn {
    color:#fff;
    font-size: 23px;
    cursor: pointer;
    display: none;
}

/*home section styling*/

.home{
    display: flex;
    background: url(banner.jpg) no-repeat center;
    height:100vh;
    color: #fff;
    min-height: 500px;
    background-size: cover;
    background-attachment: fixed;
}

.home .max-width {
    margin : auto 0 auto 40px;
}

.home .home-content .text-1{
    font-size: 15px;
}

.home .home-content .text-2{
    font-size: 45px;
    font-weight: 600;
    margin-left: -3px;
}

.home .home-content .text-3{
    font-size: 30px;
    margin : 5px  0;
}

.home .home-content .text-3 span{
    color:crimson;
    font-weight: 600;
}

.home .home-content a{
    display: inline-block;
    background: crimson ;
    color: #fff;
    padding: 25px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: all 0.3s ease;
}

.home .home-content a:hover{
    color:crimson;
    background: none;
}

/*About Styling Starts*/

.about h1{
    position: relative;
    text-align: center;
    font-weight: 600;
    font-size: 40px;
    margin-bottom: 60px;
    padding-bottom: 20px;
}

.about .About-content .left-img img {
    width: 400px;
    height: 400px ;
    object-fit: cover;
    border-radius: 10px;
}

.about  h1::before{
    content: "";
    position: absolute;
    width: 180px;
    height: 3px;
    background: black;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
}

.about h1::after{
    content: "Who i am";
    position: absolute;
    bottom: -12px;
    left: 50%;
    font-size: 20px;
    color: crimson;
    padding: 5px;
    background:#fff;
    transform: translateX(-50%);
}


.about .About-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.about .About-content .left-img {
    width: 45%;
}

.about .About-content .right-content {
    width: 55%;
}

.about .About-content .text {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}

.about .About-content .text span{
    color: crimson;
}

.about .About-content p{
    text-align: justify;
}
.about .About-content a{
    display: inline-block;
    background: crimson ;
    color: #fff;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: all 0.3s ease;
}

.about .About-content a:hover{
    color:crimson;
    background: none;
}




/*responsive media start*/

@media (max-width: 1152px){
    .about .About-content .left-img img {
        width: 350px;
        height: 350px ;
        object-fit: cover;
        border-radius: 10px;
    }

    .about .About-content .text {
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 10px;
    }

}

@media (max-width: 991px){
    .max-width {
        padding: 0 20px;
        }

        .menu-btn {
            display: block;
            cursor: pointer;
            z-index: 999;
        }
        
        .menu-btn i.active:before {
            content: "\f00d";
        }
        .navbar .menu {
            position: fixed;
            height: 100vh;
            width: 100%;
            left: -100%;
            top: 0;
            background: #111;
            text-align: center;
            padding-top: 50px;
            transition: all 0.3s ease;
        }

        .navbar .menu.active{
            left: 0;
        }
        .navbar .menu li {
            display: block;
        }
    
        .navbar .menu li a {
            display:inline-block;
            margin: 20px 0;
            font-size: 25px;
        }

        .home .home-content .text-2{
            font-size: 30px;
        }
        
        .home .home-content .text-3{
            font-size: 15px;
        }

        .home .home-content a{
            font-size: 20px;
            padding: 5px 10px;
        }
        .max-width {
            max-width: 800px;
            }

            .about .About-content .left-img img {
                width: 100%;
            }
        
            .about .About-content .left-img  {
                display: flex;
                justify-content: center;
                margin: 0 auto 60px;
            }

            .about .About-content .right-content {
                flex: 100%;
            }

            .about .About-content a{

                align-items: center;
            }
        
      
}

@media (max-width: 600px){

    .home .home-content .text-2{
        font-size: 50px;
    }
    
    .home .home-content .text-3{
        font-size: 30px;
    }


}
